/* Move down content because we have a fixed navbar that is 50px tall */
body {
    p-adding-top: 50px;
    padding-bottom: 20px;
}
@media (max-width:770px) {
    body {
      padding-top: 0;
    }
    .navbar-fixed-top {
        width:100%;
        height: auto;
        position: relative;
    }
}
@media (min-width: 768px) {
  .dl-horizontal.sm dt {
      width: 100px;
  }
  .dl-horizontal.sm dd {
      margin-left: 120px;
  }
}
.hr {
    border-bottom: 1px solid #ddd;
}
.nowrap {
    white-space: nowrap;
}
a.ext {
  background-image: url(../img/ext-link.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
}
.navbar-inverse {
  background-image: none;
  border: none;
}
.navbar-nabu {
  background-color: #003366;
  background-image: linear-gradient(to bottom,#00468c 0,#002449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00468c', endColorstr='#002449', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.navbar-custom {
  background-color: #006633;
  background-image: linear-gradient(to bottom,#008c46 0,#004924 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008c46', endColorstr='#004924', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a {
  color: #e0e0e0;
}
.navbar-header {
  height: 80px;
}
.navbar-brand {
  background-image: url(../img/logo-moz.png);
  background-position: 16px 0;
  background-repeat: no-repeat;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.navbar-right>li>a {
  padding-top: 30px;
}
.space-top {
  margin-top: 50px;
}
.quotes-indent {
  text-indent: -6px;
}
.countdown, .candidates_left {
  font-weight: bold;
}
.candidates .row {
  height: 300px;
}
.candidates .photo img {
  max-width: 150px;
}
.candidates .photo-big img {
  max-width: 280px;
}
.candidates .photo input {
  margin-top: 15px;
  margin-left: 30px;
}
.candidates .row {
  border-bottom: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}
.well dl {
  margin: 0;
}
.well dd {
  margin: 5px 0 20px;
}
.well dd.last {
  margin-bottom: 0;
}
footer .text {
  margin-right: 70px;
}
footer .logo {
  float: right;
  width: 70px;
}
footer .logo img {
  float: right;
  height: 24px;
  margin: -5px 5px 0;
}
