/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
@media (max-width:770px) {
    body {
      padding-top: 0;
    }
    .navbar-fixed-top {
        width:100%;
        height: auto;
        position: relative;
    }
}
.hr {
    border-bottom: 1px solid #eee;
}
.nowrap {
    white-space: nowrap;
}
a.ext {
  background-image: url(../img/ext-link.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
}
.navbar-inverse {
  background-image: none;
}
.navbar-custom {
  background-color: #223487;
  background-repeat: repeat-x;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a {
  color: #d9d9d9;
}
.navbar-brand {
}
.space-top {
  margin-top: 40px;
}
.countdown, .candidates_left {
  font-weight: bold;
}
.form-captcha,
.form-horizontal {
  margin-top: 30px;
}
.candidates_table input[type="checkbox"] {
  padding-right: 10px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e8e8e8;
}
.table > tbody > tr.info > td,
.table > tbody > tr > td.info {
  background-color: #d9edf7;
}
footer .text {
  margin-right: 70px;
}
footer .logo {
  float: right;
  width: 280px;
}
footer .logo img {
  float: right;
  height: 24px;
  margin: 0 8px;
}
