/* Copyright © 2015-2019 e-Democracy NGO Ukraine info@ed.org.ua */

@import url("../fonts/uni1.css");
@import url("colors.css");

html {
  font-size: 10px;
}
body {
  font-family: "uni_neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "uni_neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #3c5176;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #000000;
}
@media (max-width:770px) {
    body {
      padding-top: 0;
    }
    .navbar .logo {
      display: none;
    }
    a.name.navbar-brand {
      max-width: 300px;
    }
    #ultimenu-main {
      margin-top: 70px !important;
    }
    .btn {
      margin-bottom: 20px;
    }
    footer .logo {
      float: none !important;
    }
}
@media (min-width: 768px) {
  .dl-horizontal.sm dt {
      width: 100px;
  }
  .dl-horizontal.sm dd {
      margin-left: 120px;
  }
}
.hr {
    border-bottom: 1px solid #ddd;
}
hr.footer {
  margin-top: 50px;
}
.nowrap {
    white-space: nowrap;
}
a.ext {
  background-image: url(../img/ext-link.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
}
a.logo {
  height: auto;
  width: 55px;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 3px;
  margin-bottom: 0;
  z-index: 99;
}
a.name.navbar-brand {
  display: inline-block;
  position: relative;
  width: 400px;
  left: 2px;
  top: 0;
  color: #fff;
  line-height: 160%;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-brand {
  margin-left: 0 !important;
}
.navbar .logo {
  margin-right: 0;
  padding-left: 0;
  padding-right: 15px;
}
#navbar .region-navigation {
  padding: 0 1em;
  width: 100%;
}
.region-navtop {
  display: block;
  width: 100%;
  min-height: 20px;
  float: right;
  font-size: 115%;
  margin-top: 10px;
}
.region-navtop a {
  color: #fff !important;
}
.navbar-inverse {
  background-image: none;
  border: none;
}
.navbar-dbr {
  font-family: "uni_neue", Arial, Helvetica, sans-serif;
  background-color: #3c5176;
  min-height: 90px;
  border-radius: 0;
  padding: 10px 0;
}
.navbar-nabu {
  background-color: #003366;
  background-image: linear-gradient(to bottom,#00468c 0,#002449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00468c', endColorstr='#002449', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.navbar-menr {
  background-color: #006633;
  background-image: linear-gradient(to bottom,#008c46 0,#004924 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008c46', endColorstr='#004924', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.navbar-custom {
  background-color: #224F91;
}
.navbar-inverse #block-ultimenumainnavigation .ultimenusub .navbar-nav>li {
  float: none;
  clear: both;
}
.navbar-inverse #block-ultimenumainnavigation .ultimenusub .navbar-nav>li>a {
  color: #3c5176;
  background-color: transparent;
}
.navbar-inverse #block-ultimenumainnavigation li.ultimenu__item.has-ultimenu>a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}
#block-ultimenumainnavigation .dropdown-menu {
  display: block;
  position: relative;
}
#block-ultimenumainnavigation .caret {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: none;
}
#block-ultimenumainnavigation #ultimenu-main {
  padding-right: 4px;
}
#ultimenu-main {
  margin-top: 40px;
}
#ultimenu-main .dropdown-menu>li>a {
  font-size: 16px;
  display: inline-block;
  padding-left: 32px;
  text-decoration: none;
}
.ultimenu {
  list-style: none;
  margin: 0;
  min-height: 40px;
  padding: 0;
  position: relative;
}
.block .ultimenu {
  padding: 0;
}
.ultimenu .ultimenu__link {
  line-height: 1.6;
}
.ultimenu > li {
  display: inline-block;
  margin: 0;
}
.ultimenu--dbr .block:first-child {
  float: left;
  width: 45%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.18);
}
.ultimenu--dbr .block:nth-child(2) {
  margin-left: 48%;
}
.ultimenu--dbr .ultimenu__flyout {
  background-color: #e5e9ef;
  border-radius: 0 !important;
  padding-top: 0 !important;
  transition: visibility 0s linear 0.2s, opacity .5s linear, margin .1s ease, max-height .1s ease .1s;
}
.ultimenu--dbr .ultimenu__region {
  border-right: 16px #e5e9ef solid;
}
.ultimenu--dbr .region {
  background: #e5e9ef;
  font-size: 13px;
  padding: 20px;
}
.ultimenu--dbr .block {
  display: block;
  padding: 1em;
}
.ultimenu--dbr .ultimenu__link {
  border-top: 0px solid transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px 12px;
  position: relative;
  z-index: 103;
  text-decoration: none;
}
.ultimenu--dbr .ultimenu__link>small {
  font-weight: 400;
}
.ultimenu--dbr .ultimenu__item>a:hover, .ultimenu--dbr .ultimenu__item>a.ultimenu__link.is-active,
.ultimenu--dbr .ultimenu__item.has-ultimenu:hover>a.ultimenu__link {
  background-color: #e5e9ef;
  color: #3c5176 !important;
  text-decoration: none;
}
.ultimenu--dbr>li:hover>a,
.ultimenu--dbr .ultimenu__link.is-active {
  color: #fff;
}
.ultimenu--dbr .ultimenu__link.is-active {}
.ultimenu--dbr>li.has-ultimenu:hover>a {}
.ultimenu--dbr>li:hover .ultimenu__flyout {
  margin-top: -6px;
}
.ultimenu--dbr .ultimenu__flyout {}
.ultimenu--dbr .ultimenu__flyout a:link,
.ultimenu--dbr .ultimenu__flyout a:visited {
  color: #3c5176;
}
.ultimenu--dbr .ultimenu__flyout a:hover,
.ultimenu--dbr .ultimenu__flyout a:active {
  color: #3c5176;
}
.navbar-header {
  height: 80px;
}
.navbar-mva a {
  padding-top: 30px;
}
.navbar-mva {
  background-size: cover;
  background: #224F91 url("../img/mva-header.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar-moz {
  background-image: url(../img/logo-moz.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: -20px !important;
  color: #444 !important;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 140px;
  padding-bottom: 50px;
}
.navbar-right>li>a {
  padding-top: 30px;
}
.space-top {
  margin-top: 50px;
}
.quotes-indent {
  text-indent: -6px;
}
.countdown, .candidates_left {
  font-weight: bold;
}
.candidates .photo img {
  max-width: 150px;
}
.candidates .photo-big img {
  max-width: 280px;
}
.candidates .photo input {
  margin-top: 15px;
  margin-left: 30px;
}
.candidates .row {
  border-bottom: 2px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 300px;
}
.att img {
  max-width: 750px;
}
.well dl {
  margin: 0;
}
.well dd {
  margin: 5px 0 20px;
}
.well dd.last {
  margin-bottom: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}
footer {
  font-size: 12px;
}
footer .text {
  margin-right: 70px;
}
footer .logo {
  float: right;
  width: 200px;
}
footer .logo img {
  float: right;
  height: 24px;
  margin: -5px 5px 0;
}
